@{
    ViewData["Title"] = "Home Page";
    this.Layout = null;
}

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>LeaderboardifyNg</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="styles.b80b1bb089940da6e5db.bundle.css" rel="stylesheet"/>
</head>
<body>
  <!--<app-root>Loading...</app-root>-->

  <div class="container body-content applicationHost">
    <leaderboardify-app>
      <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-primary">
        <div class="container">
          <a class="navbar-brand" href="">Leaderboardify</a>
        </div>
      </nav>
      <h2>Loading Leaderboardify...</h2>
    </leaderboardify-app>
  </div>
   <script type="text/javascript" src="inline.bundle.js"></script>
  <script type="text/javascript" src="polyfills.bundle.js"></script>
  <script type="text/javascript" src="styles.bundle.js"></script>
  <script type="text/javascript" src="vendor.bundle.js"></script>
  <script type="text/javascript" src="main.bundle.js"></script> 

  <!-- <script type="text/javascript" src="inline.ac561914beacc9687d48.bundle.js"></script>
  <script type="text/javascript" src="polyfills.b882da8fa85eab19be70.bundle.js"></script>
  <script type="text/javascript" src="vendor.c27523f280ed9e4290f1.bundle.js"></script>
  <script type="text/javascript" src="main.0289ab0fd1cbcca240f1.bundle.js"></script> -->

  </body>
</html>